<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirmation Page</h1>
    <h3>Please confirm again</h3>
    <div>
        {{ nameName }}
        {{ statusStatus }}
    </div>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Submit</button>
        <button type="cancel">Cancel</button>
    </form>
</body>
</html>