<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
        {% csrf_token %}
        <label id='name'>Name:</label>
        <br>
        {{status.userName}}
        </div>
        <diV>
        <label>Status:</label>
        <br>
        {{status.userStatus}}
        </diV>
        <button type="submit">Submit</button>
    </form>
    <div>
        <h1>History</h1>
        <table>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Status
            </th>
        </tr>
        {%for data in Data%}
        <tr>
            <td>{{ data.userName }}</td>
            <td>{{ data.userStatus }}</td>
        </tr>
        {%endfor%}
        </table>
    </div>
</body>
</html>